In [4]:
import csv
import pandas as pd

df = pd.read_csv("network_test_data/JaeyOCU/5min_trial2.csv")

df

     Interval start   tcp_rtt  tcp_rtt (ms)  Unnamed: 3 Unnamed: 4   time (ms)
0                 0  0.114860       114.860         NaN        min  101.354000
1                 1  0.128356       128.356         NaN        max  393.735000
2                 2  0.116400       116.400         NaN        avg  134.826443
3                 3  0.122953       122.953         NaN        NaN         NaN
4                 4  0.103815       103.815         NaN        NaN         NaN
..              ...       ...           ...         ...        ...         ...
309             309  0.120833       120.833         NaN        NaN         NaN
310             310  0.111493       111.493         NaN        NaN         NaN
311             311  0.214292       214.292         NaN        NaN         NaN
312             312  0.148339       148.339         NaN        NaN         NaN
313             313  0.101354       101.354         NaN        NaN         NaN

[314 rows x 6 columns]